*{
    margin: 0;
    padding: 0;
}
body{
    height: 900px; 
    width: 100%;
   
 }
main{
   height: 80%;
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

nav{
   height: 20%;
   width: 100%;
   background-color: #532CA6;
   display: flex;
   justify-content: space-between;
  border-radius: 0px 0px 40px 40px ;

}

table{
   width: 80%;
   display: block;
   border-collapse: collapse;
   border-color: #AE25DE;
   overflow-y: auto;
   height: 250px;

 }
 table thead th{
    position: sticky;
    top: 0;
 }
 
 table thead th{
   position: sticky;
   top: 0;
}


tr{
   background-color: #F5D7FF;
   width: 100%;
}
th,td{
   background-color: #F5D7FF;
   border: 1px solid #532CA6;
   padding: 10px;
   color: white;
}
th{
   font-size: 25px;
   background-color: #AE25DE;

}
input{
  font-size: 20px;
   border: none;
   background-color: #F5D7FF;
}
 #content{
    width: 150%;
 }

td{
   width: 17%;
   height: 30%;
   background-color: #F5D7FF;
   border: 1px solid #532CA6;
   padding: 10px;
   color: white;

}

/* td button{
   width: 16%;
   height: 20%;
   background-color: #F5D7FF;
   border: 1px solid #532CA6;
   padding: 10px;
   color: white;

} */

 /* th{
    font-size: 25px;
    background-color: #AE25DE;

 } */
 input{
   font-size: 20px;
    border: none;
    background-color: #F5D7FF;
 }



.btn_update,.btn_del{
   background-color: #AE25DE;
   border: #AE25DE;
   width: 100%;
   color: white;
   border-radius: 0.4em;
}

 .principal{
    width: 100%;
}

.btn_ajout{
   display: flex;
   font-size: 50%;
   width: 50%;
   height: 30%;
   margin-left: 290%;
   border-radius: 15px;
   border: 2px solid #AE25DE;
   margin-top: 15%;  
   color: white;
   background-color: #AE25DE;
}
.btn_deconnect{
   margin-left: 5%;
   /* margin-top: 5%; */
   width: 70%;
   height: 25%;
   background-color: #AE25DE;
   color: white;
   font-size: large;
   border: 2px solid #AE25DE;
   border-radius: 10px;

}

.div_logo_user{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 60px;
    color: white;
 
 }

#iconuser{
    align-self: center;
    margin-left: 10%;
    font-size: 80px;
    margin-right: 2%;
    color: white;
 }
 span{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
 } 
main{
    height: 80%;
    width: 100%;
}

form{
   width: 60%;
    background-color: #F1F1F1;
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 1em;
   display: none;

}
.adduser_champ{
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 1%;
 
}
.adduser_champ label{
   background-color: #AE25DE;
   color: white;
   width: 15%;
   text-align: center;
   border: 2px solid #AE25DE;
   font-size: larger;
}
.input_adduser{
   border: 2px solid #F1F1F1;
   background-color: #F1F1F1;
   box-shadow:  inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   width: 70%;
}
.btn_submit,.voir_plus{
   background-color: #AE25DE;
   color: white;
   border: #AE25DE;
   width: 20%;
   font-size: larger;
   border-radius: 0.5em;
   height: 20%;
}
.voir_plus{
   font-size: 20px;
   width: 60%;
   border-radius: 0.2em;
   height: 12%;
}

